.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color:whitesmoke;
    /* text-align: center; */

    /* background-color:rgb(168, 168, 244); */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


  /* grid css */

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2851d8;
    /* padding: 10px; */
  }
  .grid-item {
    background-color: #4A90E2;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 13px;
    text-align: center;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2851d8; */
    /* padding: 10px; */
  }
  .grid-item2 {
    /* background-color: #4A90E2; */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 16px;
    /* text-align: center; */
  }



  /* side nav css starts here */

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
    overflow-x: hidden;
    padding-top: 30px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #860000;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Table css */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: black;

  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #DDDDD0;
    color: black;
    text-align: center;
    border: 1px solid rgb(63, 63, 63);


  }