<div class="sidenav" style="margin-top: 52px;">
    <div class="" style="margin: 5px;">
    <a href="#about" class="card" style="border-radius: 30px; transform:rotate(355deg); border: 1px solid wheat;">
        <span style="margin-left: 45px;">
        <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
    </span>
        <br>
        Don't Know How to Build a resume ? <br> Click Here !</a>
    </div>
    <div class="" style="margin: 5px;">
    <a href="#services" class="card" style="border-radius: 30px; transform:rotate(4deg);">
        <span style="margin-left: 45px;">
            <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
        </span>
            <br>Want To Learn Soft Skills ? <br> Click Me !</a>
            </div>
            <div class="" style="margin: 5px;">
    <a href="#clients" class="card" style="border-radius: 30px; transform:rotate(354deg);">
        <span style="margin-left: 45px;">
            <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
        </span>
            <br>Not Having Skills on Your Resume ? <br> Click Me !</a>
            </div>
  </div>
<div class="" style="padding: 5px; margin-left: 200px; color: rgb(230, 230, 230);">
<div class="" style="padding: 10px; background-color: #4A90E2;">
    <h5 style="font-size: 18px">{{eddetails.educationDetails[0].firstName}} {{eddetails.educationDetails[0].lastName}}</h5>
    <p>Comp Name</p>
    <div class="grid-container" >
    <div class="grid-item">
        <span>
            <fa-icon class="button__icon fas fa-chevron-right" [icon]="arrowIcon" style="position: absolute;"></fa-icon>
            <p style="display:inline; padding-left:3vh">Location</p>
        </span>
    </div>
    <div class="grid-item">
        <span>
            <fa-icon class="button__icon fas fa-chevron-right" [icon]="emailicon" style="position: absolute;"></fa-icon>
            <p style="display:inline; padding-left:3vh">Email</p>
        </span>
    </div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="phoneicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">+91 0000000000</p>
    </span></div>  
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="gendericon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">Gender</p>
    </span></div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="dobicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">DOB</p>
    </span></div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="hometownicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">HomeTown</p>
    </span></div>  

 
  
</div>
</div>

<div >

    <button class="login__submit" (click)="downresume()">
       Download Resume
    </button>
    <h2 style="color:grey">Educational Details</h2>
<div class="" style="padding: 10px; margin-left: 20px;">
    <div  class="tab">
        <button *ngFor="let item of eddetails.educationDetails;let i = index" [attr.data-index]="i" class="tablinks" (click)="openCity($event, item.degree)">{{item.degree}}</button>
      </div>
      <div *ngFor="let item of eddetails.educationDetails" class="">
      <div [id]="item.degree" class="">
        <h3>{{item.degree}}</h3>
        <!-- <p>Degree Description : {{item.degreeDescription}}</p> -->

        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Salary Per Hour :</label>
            <input [disabled]="" value={{item.degreeDescription}}  name="email" type="text" class="login__input" placeholder="Salary Per Hour" style="max-width: 200px">
        </div>
        <p>Insttitution Name : {{item.institutionName}}</p>
        <p> Major : {{item.major}}</p>
        <p>Starting Date : {{item.startDate}}</p>
        <p>Ending Date : {{item.endDate}}</p>
        <p>Insttitution Address : {{item.address}}</p>
        <p>Insttitution PinCode : {{item.pinCode}}</p>
        <p>Institution Location : {{item.location}}</p>
      </div>
    </div>
      
      
      
    
</div>
    <h2 style="color:grey">Employment History</h2>
<div class="" style="padding: 10px; margin-left: 20px;">
    <div  class="tab">
        <button *ngFor="let item of emphistory.employmentDetails" class="tablinks" (click)="openCity($event, item.employer)">{{item.employer}}</button>
      </div>
      <div *ngFor="let item of emphistory.employmentDetails" class="">
      <div [id]="item.employer" class="tabcontent">
        <h3>{{item.degree}}</h3>
        <p>Designation : {{item.designation}}</p>
        <p>Insttitution Name : {{item.institutionName}}</p>
        <p> Role : {{item.jobRole}}</p>
        <p>Job Start Date : {{item.jobStartDate}}</p>
        <p>Job End Date : {{item.jobEndDate}}</p>
        <p>Project Name : {{item.projectName}}</p>
      <p>Project Description : {{item.projectDescription}}</p>
      <p>Project Start Date : {{item.projectStartDate}}</p>
      <p>Project End Date : {{item.projectEndDate}}</p>
      </div>
    </div>
      
      
      
    
</div>


<div class="" >
    <table id="customers">
        <tr>
          <th>Job Title</th>
          <th>Description</th>
          <th>CTC</th>
          <th>Location</th>
          <th>icons</th>
        </tr>
        <tr *ngFor="let c of jobs">
          <td>{{c.jobTitle}}</td>
          <td>{{c.jobDescription}}</td>
          <td>{{c.companyJobDetailsEntity.ctcOffered}}</td>
          <td> {{c.companyJobDetailsEntity.jobLocation}} </td>
          <td> <button (click)="reviewjob(c)"   style="background-color: green; color:white; border-radius:10px; margin: 3px;">
          <!-- <td> <button style="background-color: green; color:white; border-radius:10px; margin: 3px;"> -->
                View
          </button>
          
          <button style="background-color: red; color:white; border-radius:10px; margin: 3px;" (click)="jobdelete(c.jobId)">
                Delete
          </button>
        </td>
        </tr>
        
      </table>
</div>