<div class="sidenav" style="margin-top: 52px;">
    <div class="" style="margin: 5px;">
    <a href="#about" class="card" style="border-radius: 30px; transform:rotate(355deg); border: 1px solid wheat;">
        <span style="margin-left: 45px;">
        <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
    </span>
        <br>
        Don't Know How to Build a resume ? <br> Click Here !</a>
    </div>
    <div class="" style="margin: 5px;">
    <a href="#services" class="card" style="border-radius: 30px; transform:rotate(4deg);">
        <span style="margin-left: 45px;">
            <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
        </span>
            <br>Want To Learn Soft Skills ? <br> Click Me !</a>
            </div>
            <div class="" style="margin: 5px;">
    <a href="#clients" class="card" style="border-radius: 30px; transform:rotate(354deg);">
        <span style="margin-left: 45px;">
            <img src="../../assets/pin.png" alt="" style="max-width: 30px; margin-left: 10px;">
        </span>
            <br>Not Having Skills on Your Resume ? <br> Click Me !</a>
            </div>
  </div>
<div class="" style="padding: 5px; margin-left: 200px; color: rgb(230, 230, 230);">
<div class="" style="padding: 10px; background-color: #4A90E2;">
    <h5 style="font-size: 18px">Name Name</h5>
    <p>Comp Name</p>
    <div class="grid-container" >
    <div class="grid-item">
        <span>
            <fa-icon class="button__icon fas fa-chevron-right" [icon]="arrowIcon" style="position: absolute;"></fa-icon>
            <p style="display:inline; padding-left:3vh">Location</p>
        </span>
    </div>
    <div class="grid-item">
        <span>
            <fa-icon class="button__icon fas fa-chevron-right" [icon]="emailicon" style="position: absolute;"></fa-icon>
            <p style="display:inline; padding-left:3vh">Email</p>
        </span>
    </div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="phoneicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">+91 0000000000</p>
    </span></div>  
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="gendericon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">Gender</p>
    </span></div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="dobicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">DOB</p>
    </span></div>
    <div class="grid-item"><span>
        <fa-icon class="button__icon fas fa-chevron-right" [icon]="hometownicon" style="position: absolute;"></fa-icon>
        <p style="display:inline; padding-left:3vh">HomeTown</p>
    </span></div>  

 
  
</div>
</div>


<div class="grid-container2" style="padding: 10px; margin-left: 20px;">
    <div class="grid-item2">
        <div class="login__field ">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Address :</label>
            <input disabled value="name" name="Address" type="text" class="login__input" placeholder="User name / Email" style="max-width: 270px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Marital Status :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 220px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Profile Summary :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
    </div>

    <div class="grid-item2">
        <div class="login__field ">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
    </div>

    <div class="grid-item2">
        <div class="login__field ">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
        <div class="login__field">
            <label style="margin: 10px; font-weight:bolder; font-size:20px;" for="email">Email :</label>
            <input disabled value="name" name="email" type="text" class="login__input" placeholder="User name / Email" style="max-width: 200px">
        </div>
    </div>
   
</div>
  