<!-- <div class="topnav">
 
</div> -->

<div class="topnav" *ngIf="!isloggedin">
  <a class="left" style="float:left">Find Your Job</a>
  <a routerLink="login" routerLinkActive="active">Log in</a>
  <a routerLink="selectprofile" routerLinkActive="active">Register</a>
</div>

<div class="topnav" *ngIf="isloggedin ">
  <a href="" (click)="logout()">Logout</a>
  <a class="left" style="float:left">Find Your Job</a>
  <a (click)="move()">Profile</a>
  <a *ngIf="seek" routerLink="candhome" routerLinkActive="active">Home</a>
  <a routerLink="dashboard" routerLinkActive="active">dashboard</a>
  <a routerLink="statistics" routerLinkActive="active">Job Trend</a>
</div>

<router-outlet></router-outlet>