<div class="">
    <form class="login" #jobpost = "ngForm" (ngSubmit) = "onClickSubmit(jobpost.value)" >
    <div class="">
        <label for="jobTitle"> Job Title</label>
        <input type="text" name="jobTitle" id="">
    </div>

    <div class="">
        <label for="jobDescription">Job Description : </label>
        <input type="text" name="jobDescription" id="">
    </div>

    <div class="">
        <label for="jobLocation"> Job Location : </label>
        <input type="text" name="jobLocation" id="">
    </div>

    <div class="">
        <label for="ctc">Annual CTC (LPA) : </label>
        <input type="number" name="ctc" id="">
    </div>

    <div class="">
        <label for="sph">Salary per Hour : </label>
        <input type="number" name="sph" id="">
    </div>

    <div class="">
        <label for="skills">Skills REquired : </label>
        <input type="text" name="skills" id="">
    </div>

</form>
</div>