<div class="container">
    <div class="screen__content">
    <form class="login" #jobpost = "ngForm" (ngSubmit) = "onClickSubmit(jobpost.value)" >
        <div class="left split">
            <div class="" class="login__field">
                <!-- <label for="jobTitle"> Job Title</label> -->
                <input class="login__input" placeholder="Job Title" type="text" name="jobTitle" id="" ngModel>
            </div>
        
            <div class="login__field">
                <!-- <label for="jobDescription">Job Description : </label> -->
                <input class="login__input" placeholder="Job Description" type="text" name="jobDescription" id="" ngModel>
            </div>
        
            <div class="login__field">
                <!-- <label for="jobType">Job type : </label> -->
                <input class="login__input" placeholder="Job Type" type="text" name="jobType" id="" ngModel>
            </div>
        
            <div class="login__field">
                <!-- <label for="jobLocation"> Job Location : </label> -->
                <input class="login__input" placeholder="Job Location" type="text" name="jobLocation" id="" ngModel>
            </div>
        </div>
        <div class="right split">
            <div class="login__field">
                <!-- <label for="ctc">Annual CTC (LPA) : </label> -->
                <input class="login__input" placeholder="CTC (In LPA)" type="number" name="ctc" id="" ngModel>
            </div>
        
            <div class="login__field">
                <!-- <label for="sph">Salary per Hour : </label> -->
                <input class="login__input" placeholder="Salary Per Hour" type="number" name="sph" id="" ngModel>
            </div>
        
            <div class="login__field">
                <!-- <label for="skills">Skills Required : </label> -->
                <input placeholder="Skills" class="login__input" [(ngModel)]="value" type="text" name="skills" id="" ngModel (blur)="addskill($event)">
                <span style="border: 1px solid;cursor: pointer;" (click)="saveskill()">Add</span>
            </div>
            <div class="chip" *ngFor="let c of skills;let i = index" style="display: inlie-flex;">
                <img [name]={i} src="../../assets/cross.png" alt="Person" width="30" height="30" (click)="imgclick(c)">
                {{c}}
              </div>
           
        </div>
    

   
    <div class="">
        <button class="button login__submit" value="submit" type="submit" style="margin-top: 150px">
            <!-- <span class="button__text">Signup</span> -->
            <input class="button__text" type="submit" value="submit">
            <i class="button__icon fas fa-chevron-right"></i>
            <fa-icon class="button__icon fas fa-chevron-right" [icon]="arrowIcon"></fa-icon>

        </button>			
        <!-- <input type="submit" value="Save"> -->
    </div>

</form>
</div>
</div>