<h2 style="text-align: center; color: rgb(98, 98, 98);">Hey Recruiter ! Register Yourself !</h2>
<div class="container">
	
	<div class="">
		<div class="">

			<form class="login" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
<div class="split left">
	<div class="login__field">
		<!-- <fa-icon [icon]="usericon"></fa-icon> -->
		<input type="text" class="login__input" placeholder="userId" name="userid" ngModel   (blur)="checkuserid($event)">
		<p *ngIf="useriderr" style="color: red;">UserId already Exists !</p>

	</div>
	
	<div class="login__field">
		<!-- <fa-icon [icon]="usericon"></fa-icon> -->
		<input type="text" class="login__input" placeholder="First Name" name="fname" ngModel>
	</div>

	<div class="login__field">
		<!-- <fa-icon [icon]="usericon"></fa-icon> -->
		<input type="text" class="login__input" placeholder="Last Name" name="lname" ngModel>
	</div>
	
	<div class="login__field">
		<!-- <fa-icon [icon]="usericon"></fa-icon> -->
		<input type="text" class="login__input" placeholder="Email" name="email" ngModel (blur)="checkemail($event)">
		<p *ngIf="emailerr" style="color: red;">Mail already Exists !</p>
		<p  style="color: red;" *ngIf="merr">Invalid Mail Id !</p>


	</div>

	
</div>
<div class="split right">
	<div class="login__field">
		<h5 style="color: red;">7 to 15 characters which should contain atlest one characters,one numeric digits and one symbols</h5>

		<!-- <fa-icon [icon]="passIcon"></fa-icon> -->
		<input (change)="checkpass($event)" required type="text" class="login__input" placeholder="Create Password" name="password" ngModel>
		<p  style="color: red;" *ngIf="paerr">Invalid Password !</p>

	</div>

	<div class="login__field">
		<!-- <fa-icon [icon]="passIcon"></fa-icon> -->
		<input type="date" class="login__input" placeholder="Date of birth" name="dob" ngModel>
	</div>


<div class="login__field">
	<!-- <fa-icon [icon]="passIcon"></fa-icon> -->
	<input (change)="checkphone($event)" type="number" class="login__input" placeholder="Contact No" name="contact" ngModel>
	<p  style="color: red;" *ngIf="perr">Invalid phone Number !</p>
</div>

<select name="" id="" (change)="compselect($event)" class="login__input">
    <option value="" >Select Organisation Name</option>
    <option *ngFor="let c of compdata" value="{{c.companyId}}" >{{c.companyName}}</option>
</select>


<div class="login__field">
	<!-- <fa-icon [icon]="passIcon"></fa-icon> -->
	<input type="text" class="login__input" placeholder="Address" name="address" ngModel>
</div>
<p  style="color: red;font-weight: bolder;" *ngIf="mainerr">Please Enter Details Carefully !</p>

<div class="" style="max-width: 150px;"><button class="login__submit" type="submit">Signup
	<fa-icon class="button__icon fas fa-chevron-right" [icon]="arrowIcon"></fa-icon>

</button></div>

</div>
                

				
				<!-- <button class="button login__submit" type="submit" style="margin-top: 150px"> -->
					<!-- <span class="button__text">Signup</span> -->
                    <!-- <input class="button__text" type="submit" value="submit"> -->
					<!-- <i class="button__icon fas fa-chevron-right"></i> -->
                    <!-- <fa-icon class="button__icon fas fa-chevron-right" [icon]="arrowIcon"></fa-icon> -->

				<!-- </button>				 -->
			</form>
                <!-- <div class="text_parent">
                    <span class="text_child">
                        Forgot Password ?
                    </span>
                    
                    <span class="text_child">
                        Alreadu a user ?
                    </span>
                </div> -->
		</div>
		<!-- <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		 -->
        
	</div>
</div>